.footer {
  max-width: 1240px;
  margin: 0 auto;
  background-color: rgb(47, 79, 79);
  margin-bottom: 20px;
  border-radius: 0 0 30px 30px;
  padding: 30px;
}
.footer a {
  color: rgb(203, 228, 222);
  margin: 0 15px;
  font-size: 16px;
}
.subsInput {
  background-color: rgb(203, 228, 222);
  border: none;
  outline: none;
}
.subsInput::placeholder {
  color: rgb(17, 131, 136);
}

.subsBtn button {
  background-color: rgb(17, 131, 136);
  color: rgb(203, 228, 222);
}
.icon span {
  margin: 20px 10px;
  color: rgb(203, 228, 222);
  font-size: 20px;
  border:1.5px solid rgb(203, 228, 222);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0;
}
